h1, h2, h3 {
  font-family: Roboto, sans-serif;
}

p {
  font-family: Merriweather, serif;
}

h1 {
  color: #742c7c;
  text-align: center;
}

a {
  padding: 0 .5rem;
  color: #441c54;
  text-decoration: none;
}

h1 > a {
  list-style: none;
  text-decoration: none;
}

h2, h3 {
  color: #742c7c;
}

footer {
  color: #742c7c;
}

input {
  border-color: #f2f2f2;
}

select {
  border-color: #f2f2f2;
}

textarea {
  border-color: #f2f2f2;
}

.name {
  display: block;
}

.age {
  display: block;

}

.email {
  display: block;
}

.phys {
  display: block;
}

.banner {
  background-color: #bcacc4;
}

.banner-image {
  overflow: hidden;
}

.btn {
  font-family: 'Roboto', sans-serif;
  color: #441c54;
  background-color: #bcacc4;
  border: none;
}

.btn:hover {
  color: #fff;
  background-color: #441c54;
}

@media only screen and (min-width: 25em) {

  h1 {
    text-align: left;
  }

  nav ul {
    text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  section {
    vertical-align: middle;
  }

  .name {
    display: inline-block;
    width: 50%;
  }

  .age {
    display: inline-block;
    width: 49%;
  }

  .email {
    display: inline-block;
    width: 49%;
  }

  .phys {
    display: inline-block;
    width: 50%;
  }

}
